{{#each orders as |order|}}
  <div class="order-history-wrapper">
    <p class="order-history-id col-xs-4">{{order._id}}</p>
    <div>
      {{#each items as |item|}}
        <div class="col-xs-3"><img src={{item.image}} alt="watch" style="width: 40px; height: 40px;"/></div>
        <div class="col-xs-3"><span class="bold-span">Item name: </span>{{item.name}}</div>
        <div class="col-xs-3"><span class="bold-span">Item Price: </span>${{item.price}}</div>
        <div class="col-xs-3"><span class="bold-span">Quantity: </span>{{item.count}}</div>

      {{/each}}
    </div>
    <p class="order-history-date col-xs-4">Order date: {{order.createdAt}}</p>
  </div>
{{/each}}
